.navbar-nav{
    color: white;
    font-family: sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

section h2, h3, h4{
    font-family: sans-serif;
    color: white;
    background-color: blue;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer h2, h3, h4, h5, h6, h7{
    color: white;
    background-color: blue;
    font-family: sans-serif;
}

footer h6{
    font-size: 15px;
}

p{
    font-family: sans-serif;
    text-align: justify;
}

body{
    background-color: whitesmoke;
}

ol{
    font-family: sans-serif;
}


#contacto h4 {
    background-color: whitesmoke;
    color: black;
}

#contacto h5 {
    background-color: whitesmoke;
    color: black;
}

.lista{
    font-family: sans-serif;
    font-style: oblique;
    font-size: 25px;
}

.peliculasmain img{
    max-width: 595px;
    max-height: 894px;
}

.cortometrajesmain img{
    max-width: 595px;
    max-height: 894px;
}

.kinettasection{
    height: 550px;
    width: 1520;
    background-image: url("../imagenes/kinetta.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.kynodontassection{
    height: 550px;
    width: 1520;
    background-image: url("../imagenes/kinodontas.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.alpssection{
    height: 550px;
    width: 1520;
    background-image: url("../imagenes/alps.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.thelosbtersection{
    height: 550px;
    width: 1520;
    background-image: url("../imagenes/thelobster.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.thekillingofasacreddeersection{
    height: 550px;
    width: 1520;
    background-image: url("../imagenes/thekillingofasacreddeer.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.thefavouritesection{
    height: 550px;
    width: 1520;
    background-image: url("../imagenes/thefavourite.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.poorthingssection{
    height: 550px;
    width: 1520;
    background-image: url("../imagenes/poorthings.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.necktiesection{
    height: 550px;
    width: 1520;
    background-image: url("../imagenes/necktie.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.nimicsection{
    height: 550px;
    width: 1520;
    background-image: url("../imagenes/nimic.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

.bleatsection{
    height: 550px;
    width: 1520;
    background-image: url("../imagenes/bleat.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.yorgoslanthimossection{
    height: 300px;
    width: 250px;
}

